# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
# In the past, we used PlanetScale for our database. We have since migrated to Supabase.

# PLANETSCALE [LEGACY]
# Development branch
# DATABASE_URL='mysql://xxx:xxx@aws.connect.psdb.cloud/xxx?sslaccept=strict'

# PLANETSCALE [LEGACY]
# Production branch
# DATABASE_URL='mysql://xxx:xxx@aws.connect.psdb.cloud/xxx?sslaccept=strict'

# SUPABASE
DATABASE_URL='postgres://postgres.[PROJECT_ID]:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1'
# Direct connection to the database. Used for migrations.
DIRECT_URL='postgres://postgres.[PROJECT_ID]:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres'

# Only for production deployment
BASE_URL=https://bucketlist.fractum.nl

TMDB_API_KEY="YOUR_SECRET_KEY"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=[PUBLISHABLE_KEY]
CLERK_SECRET_KEY=[SECRET_KEY]

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/lists
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/lists

# Clerk Webhook Secret to create new user in the database after they sign up at Clerk
WEBHOOK_SECRET=[WEBHOOK_SECRET]

# Silence Sentry Next.js "API resolved without sending a response" warnings
SENTRY_IGNORE_API_RESOLUTION_ERRORS=1
